@media (max-width: 992px) {
   h1, h2 {font-size: 2rem;}
   p {font-size: 1rem;}

   .Principal {
      flex-direction: column;
   }

   .Principal .LadoEsquerdo, .LadoDireito {
      width: 100%;
      padding: 0px 50px;
   }

   .LadoEsquerdo h1 {
      font-size: 2rem;
   }
   .LadoEsquerdo p {
      font-size: 1rem;
   }

   .LadoDireito {
      margin-top: 50px;
   }

   .LadoDireito img {
      width: 70%;
   }

   .Artista .texto1 {
      flex-direction: column;
      row-gap: 20px;
   }

   .Ilustração-Digital .container {
      grid-template-columns: 100%;
      gap: 20px;
   }

   .Tinta-Acrilica .container2 {
      flex-direction: column;
      align-items: center;
   }

   .container2 img {
      width: 70%;
      height: 100%;
   }
}


@media (max-width: 480px) {
   header {
      padding: 30px;
   }

   header .logo h1 {
      font-size: 1rem;
   }
   header .logo h2 {
      font-size: .7rem;
   }

   .LadoDireito, .LadoEsquerdo, .Ilustração-Digital, 
   .Ilustração-Tradicional, .Tinta-Acrilica {
      padding: 25px;
   }

   .Principal h1 {
      font-size: 1.7rem;
   }
   .Principal p {
      font-size: .9rem;
      line-height: 1.6rem;
   }

   .Artista h2, .texto2 h3 {
      font-size: 1.3rem;
   }
   .Artista p {
      font-size: 1.1rem;
      text-align: center;
   }

   .Ilustração-Digital h2, .Ilustração-Tradicional h2, .Tinta-Acrilica h2 {
      font-size: 1.5rem;
   }

   .Ilustração-Tradicional p {
      font-size: 1.1rem;
   }

   footer {
      font-size: .8rem;
   }
}

@media (max-width: 320px) {

   .Artista .texto1 {
      flex-direction: column;
      row-gap: 20px;
   }

   .texto1 h2 {
      font-size: 1.5rem;
   }
   .texto1 p {
      font-size: 1rem;
   }

   footer {
      font-size: .7rem;
   }
}