@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200;300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

:root {
   --corClara: #F4EEE0;
   --corRoxa: #9b6a9e;
   --corEscura: #393646;
   --corMaisEscura: #320547;
   --corRosaClaro: #fdc1f3;

   --fontMont: 'Montserrat', sans-serif;
}


* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   border: none;
   outline: none;
   list-style: none;
}

html {
   scroll-behavior: smooth;
}

body {
   height: 100vh;
   overflow-x: hidden;
}

.Stop {
   width: 35px;
   height: 35px;
   background-color: var(--corMaisEscura);
   color: var(--corClara);
   position: fixed;
   bottom: 20px;
   right: 20px;
   border-radius: 50%;
   display: grid;
   place-items: center;
   cursor: pointer;
   transition: .3s;
   opacity: .7;
   z-index: 99;
}

.Stop:hover {
   background-color: #9b6a9e;
   transform: scale(.9);
}

.Stop > img {
   width: 80%;
}

#indicator {
   background-color: #ff0095;
   height: 0.1875rem;
   width: 0;
   position: fixed;
   top: 1px;
   z-index: 99;
}

/* HEADER */

header {
   background-color: var(--corRosaClaro);
   height: 80px;
   width: 100%;

   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px 60px;
   position: relative;
}

/* LOGO */

.logo {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.logo h1 {
   font-size: 1.5rem;
   font-family: 'Urbanist', sans-serif;
   letter-spacing: .20rem;
   color: var(--corMaisEscura);
}

.logo h2 {
   font-family: 'Urbanist', sans-serif;
   font-weight: bold;
   font-size: .8rem;
   letter-spacing: .2rem;
   color: var(--corMaisEscura);
}

/* NAVBAR LINKS */

.navbar {
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-size: 1rem;
   font-family: 'Montserrat', sans-serif;
}

.links {
   display: flex;
   align-items: center;
}

.links li {
   padding: 10px 20px;
}

.links a {
   color: var(--corMaisEscura);
}

/* TELA INICIAL */

.Principal {
   display: flex;
   align-items: center;
   min-height: calc(100vh - 80px);
   background-color: var(--corRosaClaro);
}

.LadoEsquerdo {
   height: 100%;
   width: 50%;
   padding: 20px 50px;
}  

.LadoEsquerdo h1 {
   font-size: 2.3rem;
   font-family: var(--fontMont);
   color: var(--corMaisEscura);
   margin: 30px 0px;
}

.LadoEsquerdo p {
   font-size: 1.2rem;
   font-family: var(--fontMont);
   color: var(--corMaisEscura);
   line-height: 2rem;
}

.LadoDireito {
   height: 100%;
   width: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.LadoDireito img {
   max-width: 70%;
   filter: drop-shadow(0px 15px 10px #5c099479);
   animation: float 7s ease-in-out infinite;
}

/* SVG1 */

svg {
   fill: var(--corRosaClaro);
}

.svg1 {
   filter: drop-shadow(0px 15px 7px rgba(0, 0, 0, 0.116));
}

/* SESSÃO ARTISTA */

.Artista {
   height: 250px;
   padding: 30px;
   display: flex;
   align-items: center;
}

.texto1 {
   width: 100%;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

.Artista h2 {
   font-size: 2rem;
   font-family: var(--fontMont);
   color: var(--corMaisEscura);
}

.Artista p {
   font-size: 1.2rem;
   font-family: var(--fontMont);
   color: var(--corMaisEscura);
   max-width: 450px;
}

.texto2 {
   display: flex;
   align-items: center  ;
   justify-content: center;
   height: 200px;
}

.texto2 h3 {
   font-size: 1.5rem;
   font-family: var(--fontMont);
   color: var(--corMaisEscura);
}
/* ILUSTRAÇÃO DIGITAL */

.Ilustração-Digital {
   padding: 50px;
   background-color: var(--corRosaClaro);
}

.Ilustração-Digital h2 {
   font-size: 2.1rem;
   font-family: var(--fontMont);
   color: var(--corMaisEscura);
   margin: 0px 0px 30px 25px;
}

.container {
   width: 100%;
   height: 100%;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(3, 1fr);
   place-items: center;
}

.container > img {
   object-fit: cover;
   width: 80%;
}

/* ILUSTRÇÃO TRADICIONAL */

.Ilustração-Tradicional {
   padding: 50px;
   height: 400px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.Ilustração-Tradicional > h2 {
   font-size: 2rem;
   font-family: var(--fontMont);
   color: var(--corMaisEscura);
   margin: 30px;
   text-align: center;
}

.Ilustração-Tradicional > p {
   font-size: 1.2rem;
   font-family: var(--fontMont);
   color: var(--corMaisEscura);
   margin: 30px;
   text-align: center;
}

/* TINTA ACRILÍCA */

.Tinta-Acrilica {
   padding: 50px;
   background-color: var(--corRosaClaro);
}

.Tinta-Acrilica h2 {
   font-size: 2rem;
   font-family: var(--fontMont);
   color: var(--corMaisEscura);
   margin: 0px 0px 30px 25px;
}

.container2 {
   width: 100%;
   display: flex;
   justify-content: center;
   flex-flow: row wrap;
   gap: 30px;
}

.container2 img {
   object-fit: cover;
   width: 40%;
   height: 550px;
}


@keyframes float {
   0% {
      transform: translateY(0px);
   }

   50% {
      transform: translateY(20px);
   }

   100% {
      transform: translateY(0px);
   }
}