@charset "UTF-8";

* {
   margin: 0px;
   padding: 0px;
}

body {
   background: url(../imgs/fundo.jpg) no-repeat center;
   background-size: cover;
   width: 100vw;
   height: 100vh;
   color: #f6fff2ee;
   background-color: black;
   font-family: Arial, Helvetica, sans-serif;
}

.container {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.efeito-vidro {
   
   background: #53535326;
   box-shadow: 0 20px 20px #00000085;
   backdrop-filter: blur( 13.5px );
   border-radius: 20px 0px 20px 0px;
   border: 1px solid #ffffff26;
}


.formu {
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.formu h2 {
   text-transform: uppercase;
   text-align: center;
   letter-spacing: 7px;
   margin-bottom: 50px;
   font-size: 1.5em;
   text-shadow: 0px 5px 10px #00000080;
}

.formu h2::after {
   content: '';
   width: 70px;
   height: 2px;
   background-color: currentColor;
   display: block;
   margin: 5px auto;
}

.formu .usu, .sen {
   margin-bottom: 15px;
}

.formu div .inp {
   background-color: rgba(255, 255, 255, 0);
   width: 200px;
   padding: 5px 15px;
   border: none;
   border-bottom: 1px solid rgba(0, 0, 0, 0.452);
}

.formu p {
   font-size: 1.1em;
   margin-bottom: 10px;
}

.inp::placeholder {
   color: #b3b3b375;
   font-size: 0.8em;
}

.inp:focus-visible {
   outline: none;
}

input[type="submit"] {
   width: 220px;
   padding: 5px;
   margin-top: 15px;
   letter-spacing: 3px;
   background-color: #1b415086;
   color: rgb(121, 121, 121);
   border: 1px solid rgb(121, 121, 121);
   border-radius: 10px;
   box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.685);
   transition: 0.3s;
}

input[type="submit"]:hover {
   color: #f2ffffee;
   transform: scale(1.1);
   cursor: pointer;
}

.formu .ess {
   margin-top: 15px;
}

.formu a {
   text-decoration: none;
   font-size: 0.6em;
   color: #f2ffff69;
}

.formu a:hover {
   color: #f2ffffee;
}

